@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

:root{
    --primary-color: #FBBF24;

}

body {
    font-family: 'Comic Neue', cursive;
    margin: 0px;
    text-align: center;
    /* background: url(https://wallpapercave.com/wp/JuJ6uTE.jpg); */

    /* background: url(https://wallpapercave.com/wp/dvsE7Av.jpg); */

    /* background-repeat: no-repeat;
    background-size: auto; */
    
}

.heading {

    height: 3rem;
    width:auto;
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    margin:inherit;
}


textarea {
    font-family: inherit;
    width: 50%;
    display: block;
    padding: 2rem;
    /* margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem; */
    margin:  1rem auto 1rem auto;
    border-radius: 1rem;
    background: transparent;
    
}

button {
    font-family: inherit;
    display: block;
    border-radius: 1rem;
    /* margin-left: auto;
    margin-right: auto; */
    margin:  2rem auto 1rem auto;
    font-size: 1rem;
}

#output {
    width: 50%;
    height: 2rem;
    display: block;
    padding: 2rem;
    border: 1px solid black;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 1rem; */
    margin:  1rem auto 1rem auto;
    border-radius: 1rem;
}


#space{
    height:6rem;
}

footer{
    position:fixed;
    bottom:0;
    width: 100%;
    display: block;
    height: auto;
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    margin:inherit;
}